[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        consider-using-enumerate,
        too-few-public-methods


[SIMILARITIES]

min-similarity-lines=20

[BASIC]

good-names=i,
           j,
           x,
           y,
           to,
           f